body {
    background-color: #081c24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: white;
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    margin-left: 130px;
    color: white;
    background-color: #01d277
}