<ion-header>
    <ion-toolbar>
      <ion-title>Most Rated Movies</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let filme of lista_series">
        <ion-card-header>
          <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
          <br>
          <ion-card-subtitle>{{ filme.release_date }}</ion-card-subtitle>
          <ion-card-title>{{ filme.original_title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{ filme.overview }}</p>
        </ion-card-content>
      </ion-card>
  </ion-content>
