<ion-header>
  <ion-toolbar>
    <ion-title>Last Movies added</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-card-header>
      <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
      <br>
      <ion-card-subtitle>{{ filme.release_date }}</ion-card-subtitle>
      <ion-card-title>{{ filme.original_title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>
    <ion-button expand="block" (click)="abrirDetalhes(filme)">Detalhes</ion-button>
  </ion-card>
</ion-content>